.header {
	@apply bg-yellow;

	.headerInner {
		@apply flex justify-between items-center py-4;
	}

	.navigation {
		nav ul {
			@apply flex mb-0 gap-24;
			li {
				@apply relative p-2;
			}
			li a {
				@apply uppercase font-medium  transition-all;

				&:hover {
					@apply font-bold;

					&::after {
						@apply w-full;
					}
				}

				&::after {
					@apply bg-primary w-0  bottom-0 left-0 absolute h-[1px] transition-all;
					content: '';
				}
			}
		}

		.socialLinks ul {
			@apply justify-between px-16 pt-8 pb-8  hidden;
		}
	}

	.headerLeft {
		@apply flex items-center justify-between w-full;

		h4 {
			@apply uppercase mb-0 text-[1.2rem];
		}

		.hamburgerIcon {
			@apply w-[20px] h-[2px] bg-primary mb-[3px] transition-all;
		}
	}
	.headerLogo {
		img {
			width: 200px;
			@apply max-w-none;
		}
	}

	.hamburgerWrapper {
		@apply hidden gap-4;
	}
	.hamburgerBtn {
		@apply flex flex-col;
	}

	.hamburgerBtn.active {
		.hamburgerIcon {
			&:nth-child(1) {
				transform: rotate(45deg);
				position: relative;
				top: 3px;
			}
			&:nth-child(2) {
				transform: rotate(136deg);
				position: relative;
				top: -2px;
			}
			&:last-child {
				@apply hidden;
			}
		}
	}
}

@media (max-width: 1420px) {
	.header {
		.navigation {
			nav ul {
				@apply flex mb-0 gap-12;
			}
		}
	}
}

@media (max-width: 1024px) {
	.header {
		.navigation {
			nav ul {
				@apply flex mb-0 gap-8;
			}
		}

		.headerLogo {
			img {
				width: 175px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		.hamburgerWrapper {
			@apply flex items-center;
		}

		.headerInner {
			@apply flex flex-col;
		}

		.navigation {
			@apply w-full absolute top-[-100%] transition-all z-[9999] bg-black-default text-white pt-8;
			nav ul {
				@apply flex flex-col w-full justify-center items-center;
			}
			.socialLinks ul {
				@apply flex;
			}
		}
		.navigation.active {
			@apply w-full absolute top-[72px];
		}
		.headerLogo {
			img {
				@apply w-[7rem];
			}
		}
	}
}
