.section-top {
	padding-top: 4rem;
}
.section-bottom {
	padding-bottom: 4rem;
}

.container {
	@apply w-full max-w-[1420px] px-4 mx-auto;
}

.row {
	@apply flex -mr-4 -ml-4 flex-wrap;
}

.section-title {
	@apply text-[32px] mb-12 uppercase;
}
@media (max-width: 1023px) {
	.section-title {
		@apply mb-6;
		font-size: 1.5rem;
		line-height: 1.875rem;
	}
}

.heading {
	@apply text-[48px] mb-12 uppercase;
}
@media (max-width: 1023px) {
	.heading {
		@apply text-[2rem] mb-8 uppercase;
	}
}

@media (max-width: 768px) {
	.section-top {
		padding-top: 2rem;
	}
	.section-bottom {
		padding-bottom: 2rem;
	}
}
